# This file is used by org_settings.py to return sets of paths/settings like
# genomic sequence files, genome sizes, etc.  It is formatted according to
# Python's ConfigParser.CongifParser specification:
#
# http://docs.python.org/library/configparser.html
#
# Before installation, add any system-specific settings to the categories below,
# where categories correspond to organism/genome names, creating new category
# headings where desired.
#
# User-specific organisms and settings may be specified in:
#
#   os.path.expanduser('~/.org_settings.cfg')
#
# with the same format.  Settings in user configuration files override system-wide
# settings.
#
# A minimal organism configuration requires at least genome_dir and genome_size,
# other settings may be required for different tools (e.g. theme_* for THEME.py)
#
# field values can contain no spaces if they are to be exported to the command line
# (i.e. with org_settings.py)

[human]
description=
genome_dir=
genome_size=
annotation_path=
theme_hyp=
theme_markov=
# others...

[mouse]
genome_dir=/nfs/genomes/mouse_gp_jul_07
genome_size=2107000000
annotation_path=%(genome_dir)s/anno/refFlat.txt
theme_hyp=/nfs/vendata/cwng/motifs/TRANSFAC_vert_filt9_clus4_trunc.tamo
theme_markov=/nfs/data/cwng/chipseq/hypotheses/Mouse.markov
# others...
